body {
  margin: 0;
  height: 100%;
  background: linear-gradient(to right, #7851a9, #d4af37);
  font-family: Montserrat, sans-serif;
}

.login-form {
  /* transform: translate(50%, 50%); */
  z-index: 1;
}

form {
  background: rgb(255 255 255 / 6%);
  padding: 3em;
  height: 320px;
  border-radius: 20px;
  border-left: 1px solid rgb(255 255 255 / 30%);
  border-top: 1px solid rgb(255 255 255 / 30%);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgb(0 0 0 / 20%);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}

form p {
  font-weight: 500;
  color: white;
  opacity: 0.7;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 60px;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 20%);
}

form a {
  text-decoration: none;
  color: #ddd;
  font-size: 12px;
}

form a:hover {
  text-shadow: 2px 2px 6px #00000040;
}

form a:active {
  text-shadow: 0;
}

form input {
  background: transparent;
  width: 200px;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-left: 1px solid rgb(255 255 255 / 30%);
  border-top: 1px solid rgb(255 255 255 / 30%);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgb(0 0 0 / 20%);
  color: white;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  transition: all 0.2 ease-in-out;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 20%);
  border-radius: 5000px;
}

form input:hover {
  background: rgb(255 255 255 / 1%);
  box-shadow: 4px 4px 60px 8px rgb(0 0 0 / 20%);
}

form input[type="email"]:focus,
form input[type="password"]:focus {
  background: rgb(255 255 255 / 1%);
  box-shadow: 4px 4px 60px 8px rgb(0 0 0 / 20%);
}
